{% extends 'base.html'%}

{%block head%}
<title>Get details of university!</title>
{%endblock%}

{%block body%}
<div>
  <a href='/'>Home</a>
</div>
{%if univ%}
{%if univ== 'N'%}
  <h4>University not found, may be you can try with selecting country option!</h4>
{%else%}
  <h4>Name: {{univ['name']}}</h4>
  <h7>address: {{univ['address']}}<br>lat: {{univ['lat']}}<br>lng: {{univ['lon']}}</h7>
{%endif%}
{%endif%}

<!-- <form action = '/university' method="POST">
  <select id="university" name="university">
    {%for i in universities%}
      <option value="{{i}}">{{i}}</option>
    {%endfor%}
  </select>
</form> -->
<div>
  <ul>
  {%for i in values%}
    <li><a href={{url_for('search',university=i)}}>{{i}}</a></li>
  {%endfor%}
  </ul>
</div>
{% endblock %}
